/*
-------------------------------------------------------
content.css
-------------------------------------------------------
覆蓋
明日書店網管中心登入類別
明日書店網管中心首頁類別
明日書店網管中心資料列表類別
*/

/*
-------------------------------------------------------
覆蓋
-------------------------------------------------------
*/
    /* 分頁列,覆蓋預設 */
    .page_container{
        border:0px solid #f00;
        display:inline-block;
        padding:0px;
    }
    .page_tbl{
        font-size:10pt;
        border:0px solid #0f0;
    }
    .page_tbl td{
        padding:5px 10px;
    }

    .page_tbl td.page_info,
    .page_tbl td.page_first,
    .page_tbl td.page_prev,
    .page_tbl td.page_next,
    .page_tbl td.page_last,
    .page_tbl td.page_normal{
        background-color:#fff;
        color:#4e4e4e;
    }

    .page_tbl td.page_current{
        background-color:#3571d4;
        color:#fff;
    }

    .page_tbl td.page_hover{
        background-color:#3571d4;
        color:#fff;
    }

/*
-------------------------------------------------------
明日書店網管中心登入類別
-------------------------------------------------------
*/

/*
-------------------------------------------------------
明日書店網管中心首頁類別
-------------------------------------------------------
*/

/*
-------------------------------------------------------
明日書店網管中心資料列表類別
-------------------------------------------------------
*/
    /* 查詢區塊 */
    div#querybar1{
        padding:10px;

        border:0px solid #ccc;
        border-bottom:1px solid #ccc;
        background-color:#e1e1e1;
    }

    div#querybar2{
        padding:0;

        border:0px solid #ccc;
        border-bottom:1px solid #ccc;
        background-color:#e1e1e1;
    }

    /* 導覽列 (#header) */
    ul#navbar{
        position:absolute;
        bottom:0;
        right:0;

        list-style:none;
        margin:0;
        padding:0;
    }
    ul#navbar li{
        display:inline;
    }
    ul#navbar li a:link,ul#navbar li a:visited{
        display:block;
        float:left;
        padding:10px 10px;

        height:20px;
        color:#fff;
        background:#333;
        text-decoration:none;
    }
    ul#navbar li a:hover{
        color:#f00;
        text-decoration:underline;
    }

    ul#navbar li a.current:link,
    ul#navbar li a.current:visited,
    ul#navbar li a.current:hover,
    ul#navbar li a.current:active{
        background:#333 url('img/content/navbar_on.gif') repeat;
        color:#fff;
    }

    span#title{
        position:absolute;
        left:50px;
        top:10pt;
        border:0px;
        font-size:12pt;
        color:#333;
    }

    /* 列表首頁主表格 */
    .datalist_tbl{
        position:relative;
        width:990px;
        margin-top:0px;
    }
    #datalist_tbl{
        position:relative;
        width:990px;
        margin-top:20px;
    }

    /* 教師中心路徑選單 */
    #center_path{
        padding:0px;

        width:300px;
        border:0px solid #f00;
    }
    #center_path_cont{
        font-size:9pt;
        color:#333;
    }
    #center_path_cont .menu_cont{
        padding:5px;
        background:#fff;
        border:0px solid #f00;
        /*background-image:url(img/container/bg.gif);*/
    }
    #center_path_cont .menu_dot{
        height:5px;
        background:#fff url('img/content/dot.jpg') repeat-x;
    }
    #center_path_cont a:link,#center_path_cont a:visited{
        text-decoration:none;
    }
    #center_path_cont a:hover,#center_path_cont a:active{

    }