/*
-------------------------------------------------------
header.css
-------------------------------------------------------
*/
    img#logo{
        position:absolute;
        left:5px;
        top:5px;
        border:0px;
    }