/*
-------------------------------------------------------
navbar.css
-------------------------------------------------------
*/
    /* 導覽列表格 */    
    #navbar_tbl{
        position:absolute;
        top:0px;
        left:118px;
    }
