/*
//-------------------------------------------------------
//分頁列css定義
//-------------------------------------------------------
//結構
//-------------------------------------------------------
//page_container (span 元素)        容器物件
//  page_tbl (table 元素)           分頁列表格
//      page_tr (tr 元素)           分頁列表格列
//          page_info (td 元素)     資訊欄位
//          page_first (td 元素)    第一頁
//          page_prev (td 元素)     上一頁
//          page_next (td 元素)     下一頁
//          page_last (td 元素)     最末頁
//          page_normal (td 元素)   一般,非現在
//          page_current (td 元素)  現在
//          page_hover (td 元素)    滑鼠移入
//-------------------------------------------------------
*/
    .page_container{
        border:0px solid #f00;
        display:inline-block;
        padding:0px;
    }
    .page_tbl{
        font-size:10pt;
        border:0px solid #0f0;
    }
    .page_tbl td{
        padding:5px 10px;
    }

    .page_tbl td.page_info,
    .page_tbl td.page_first,
    .page_tbl td.page_prev,
    .page_tbl td.page_next,
    .page_tbl td.page_last,
    .page_tbl td.page_normal{
        background-color:#fff;
        color:#333;
    }

    .page_tbl td.page_current{
        background-color:#ffcc66;
        color:#fff;
    }

    .page_tbl td.page_hover{
        background-color:#ffcc66;
        color:#fff;
    }