	.btn_rbook {
  			position:absolute;
			width:79px;
			height:73px;
			cursor:pointer;
			background: url('../img/UI_1.png') 0px 0;
   }
	.btn_rbook:hover {
    		background: url('../img/UI_1.png') 0px -146px;
   }
	.btn_rbook:active {
       		background: url('../img/UI_1.png') 0px -73px;
   }
   .btn_talk {
  			position:absolute;
			width:75px;
			height:73px;
			cursor:pointer;
			background: url('../img/UI_1.png') -1436px 0;
   }
	.btn_talk:hover {
    		background: url('../img/UI_1.png') -1436px -146px;
   }
	.btn_talk:active {
       		background: url('../img/UI_1.png') -1436px -73px;
   }
   .btn_shelf {
  			position:absolute;
			width:75px;
			height:73px;
			cursor:pointer;
			background: url('../img/UI_1.png') -167px 0;
   }
	.btn_shelf:hover {
    		background: url('../img/UI_1.png') -167px -146px;
   }
	.btn_shelf:active {
       		background: url('../img/UI_1.png') -167px -73px;
   }
   
   .btn_rec {
  			position:absolute;
			width:81px;
			height:73px;
			cursor:pointer;
			background: url('../img/UI_1.png') -80px 0;
   }
	.btn_rec:hover {
    		background: url('../img/UI_1.png') -80px -146px;
   }
	.btn_rec:active {
       		background: url('../img/UI_1.png') -80px -73px;
   }
   .btn_post {
  			position:absolute;
			width:75px;
			height:73px;
			cursor:pointer;
			background: url('../img/UI_1.png') -251px 0;
   }
	.btn_post:hover {
    		background: url('../img/UI_1.png') -251px -146px;
   }
	.btn_post:active {
       		background: url('../img/UI_1.png') -251px -73px;
   }
   .btn_set {
  			position:absolute;
			width:69px;
			height:73px;
			cursor:pointer;
			background: url('../img/UI_1.png') -333px 0;
   }
	.btn_set:hover {
    		background: url('../img/UI_1.png') -333px -146px;
   }
	.btn_set:active {
       		background: url('../img/UI_1.png') -333px -73px;
   }
   .btn_opn {
  			position:absolute;
			width:75px;
			height:73px;
			cursor:pointer;
			background: url('../img/UI_1.png') -412px 0;
   }
	.btn_opn:hover {
    		background: url('../img/UI_1.png') -412px -146px;
   }
	.btn_opn:active {
       		background: url('../img/UI_1.png') -412px -73px;
   }
   .btn_out {
	position:absolute;
	width:65px;
	height:73px;
	cursor:pointer;
	background: url('../img/UI_1.png') -493px 0;
   }
	.btn_out:hover {
    		background: url('../img/UI_1.png') -493px -146px;
   }
	.btn_out:active {
       		background: url('../img/UI_1.png') -493px -73px;
   }
   .btn_re {
  			position:absolute;
			width:54px;
			height:73px;
			cursor:pointer;
			background: url('../img/UI_1.png') -583px 0;
   }
	.btn_re:hover {
    		background: url('../img/UI_1.png') -583px -146px;
   }
	.btn_re:active {
       		background: url('../img/UI_1.png') -583px -73px;
   }
   .btn_c_box {
  			position:absolute;
			width:125px;
			height:73px;
			cursor:pointer;
			background: url('../img/UI_1.png') -664px 0;
   }
	.btn_c_box:hover {
    		background: url('../img/UI_1.png') -664px -146px;
   }
	.btn_c_box:active {
       		background: url('../img/UI_1.png') -664px -73px;
   }
   .btn_o_box {
  			position:absolute;
			width:76px;
			height:73px;
			cursor:pointer;
			background: url('../img/UI_1.png') -795px 0;
   }
	.btn_o_box:hover {
    		background: url('../img/UI_1.png') -795px -146px;
   }
	.btn_o_box:active {
       		background: url('../img/UI_1.png') -795px -73px;
   }
   .btn_nuv {
  			position:absolute;
			width:76px;
			height:73px;
			cursor:pointer;
			background: url('../img/UI_1.png') -889px 0;
   }
	.btn_nuv:hover {
    		background: url('../img/UI_1.png') -889px -146px;
   }
	.btn_nuv:active {
       		background: url('../img/UI_1.png') -889px -73px;
   }
   .btn_bst {
  			position:absolute;
			width:76px;
			height:73px;
			cursor:pointer;
			background: url('../img/UI_1.png') -977px 0;
   }
	.btn_bst:hover {
    		background: url('../img/UI_1.png') -977px -146px;
   }
	.btn_bst:active {
       		background: url('../img/UI_1.png') -977px -73px;
   }
   .btn_shop {
  			position:absolute;
			width:76px;
			height:73px;
			cursor:pointer;
			background: url('../img/UI_1.png') -1077px 0;
   }
	.btn_shop:hover {
    		background: url('../img/UI_1.png') -1077px -146px;
   }
	.btn_shop:active {
       		background: url('../img/UI_1.png') -1077px -73px;
   }
   .btn_outgame {
  			position:absolute;
			width:99px;
			height:73px;
			cursor:pointer;
			background: url('../img/UI_1.png') -1170px 0;
   }
	.btn_outgame:hover {
    		background: url('../img/UI_1.png') -1170px -146px;
   }
	.btn_outgame:active {
       		background: url('../img/UI_1.png') -1170px -73px;
   }
   
   .btn_help {
	position:absolute;
	width:60px;
	height:70px;
	cursor:pointer;
	background: url('../img/UI_1.png') -1281px 0;
	left: 42px;
	top: 85px;
   }
	.btn_help:hover {
    		background: url('../img/UI_1.png') -1281px -146px;
   }
	.btn_help:active {
       		background: url('../img/UI_1.png') -1281px -73px;
   }
   
   .btn_save {
	position:absolute;
	width:70px;
	height:79px;
	cursor:pointer;
	background: url('../img/UI_5.png') -0px 0;
   }
	.btn_save:hover {
    		background: url('../img/UI_5.png') -0px -160px;
   }
	.btn_save:active {
       		background: url('../img/UI_5.png') -0px -80px;
   }
   .btn_close {
	position:absolute;
	width:70px;
	height:79px;
	cursor:pointer;
	background: url('../img/UI_5.png') -69px 0;
   }
	.btn_close:hover {
    		background: url('../img/UI_5.png') -69px -160px;
   }
	.btn_close:active {
       		background: url('../img/UI_5.png') -69px -80px;
   }
   
   .btn_yes {
	position:absolute;
	width:70px;
	height:79px;
	cursor:pointer;
	background: url('../img/UI_5.png') -139px 0;
   }
	.btn_yes:hover {
    		background: url('../img/UI_5.png') -139px -160px;
   }
	.btn_yes:active {
       		background: url('../img/UI_5.png') -139px -80px;
   }
   
   .btn_no {
	position:absolute;
	width:70px;
	height:79px;
	cursor:pointer;
	background: url('../img/UI_5.png') -209px 0;
   }
	.btn_no:hover {
    		background: url('../img/UI_5.png') -209px -160px;
   }
	.btn_no:active {
       		background: url('../img/UI_5.png') -209px -80px;
   }
   
   .btn_booking {
	position:absolute;
	width:70px;
	height:79px;
	cursor:pointer;
	background: url('../img/UI_5.png') -279px 0;
   }
	.btn_booking:hover {
    		background: url('../img/UI_5.png') -279px -160px;
   }
	.btn_booking:active {
       		background: url('../img/UI_5.png') -279px -80px;
   }
   
   .btn_read {
	position:absolute;
	width:70px;
	height:79px;
	cursor:pointer;
	background: url('../img/UI_5.png') -348px 0;
   }
	.btn_read:hover {
    		background: url('../img/UI_5.png') -348px -160px;
   }
	.btn_read:active {
       		background: url('../img/UI_5.png') -348px -80px;
   }
   .btn_onshelf {
	position:absolute;
	width:70px;
	height:79px;
	cursor:pointer;
	background: url('../img/UI_5.png') -418px 0;
   }
	.btn_onshelf:hover {
    		background: url('../img/UI_5.png') -418px -160px;
   }
	.btn_onshelf:active {
       		background: url('../img/UI_5.png') -418px -80px;
   }
   .btn_unshelf {
	position:absolute;
	width:70px;
	height:79px;
	cursor:pointer;
	background: url('../img/UI_5.png') -488px 0;
   }
	.btn_unshelf:hover {
    		background: url('../img/UI_5.png') -488px -160px;
   }
	.btn_unshelf:active {
       		background: url('../img/UI_5.png') -488px -80px;
   }
   .btn_unbooking {
	position:absolute;
	width:95px;
	height:79px;
	cursor:pointer;
	background: url('../img/UI_5.png') -558px 0;
   }
	.btn_unbooking:hover {
    		background: url('../img/UI_5.png') -558px -160px;
   }
	.btn_unbooking:active {
       		background: url('../img/UI_5.png') -558px -80px;
   }
   .btn_arrow_r {
	position:absolute;
	width:58px;
	height:60px;
	cursor:pointer;
	background: url('../img/UI_5.png') -659px 0;
	-moz-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	transform:scaleX(-1);
	/*IE*/
	filter:FlipH;
   }
	.btn_arrow_r:hover {
    		background: url('../img/UI_5.png') -659px -160px;
   }
	.btn_arrow_r:active {
       		background: url('../img/UI_5.png') -659px -80px;
   }
   
   .btn_arrow_l {
	position:absolute;
	width:60px;
	height:60px;
	cursor:pointer;
	background: url('../img/UI_5.png') -659px 0;
   }
	.btn_arrow_l:hover {
    		background: url('../img/UI_5.png') -659px -160px;
   }
	.btn_arrow_l:active {
       		background: url('../img/UI_5.png') -659px -80px;
   }
   
   .btn_back_up {
	position:absolute;
	width:71px;
	height:79px;
	cursor:pointer;
	background: url('../img/UI_5.png') -726px 0;
   }
	.btn_back_up:hover {
    		background: url('../img/UI_5.png') -726px -160px;
   }
	.btn_back_up:active {
       		background: url('../img/UI_5.png') -726px -80px;
   }
   
   .btn_communication {
	position:absolute;
	width:75px;
	height:73px;
	cursor:pointer;
	background: url('../img/UI_1.png') -1343px 0;
   }
	.btn_communication:hover {
    		background: url('../img/UI_1.png') -1343px -146px;
   }
	.btn_communication:active {
       		background: url('../img/UI_1.png') -1343px -73px;
   }
